<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{template "title"}}</title>
</head>

<body>
  <header>
    <nav>
      <a href="twotter">Twotter</a>
      <a href="user">Account</a>
      <a href="admin">Admin</a>
    </nav>
  </header>
  <main>
    {{template "content" .}}
  </main>
  <footer>
    <p>@Copyright 2024 Twotter.comy</p>
    <p>All twots are the user's own and do not reflect the views of Twotter</p>
  </footer>
</body>

</html>
